@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

:root {
	--primary-color: #000000;
	--background-color: #f9f5f0;
	--dark-color: #c1c0c0;
}

html {
	font-size: 62.5%;
	font-family: 'Poppins', sans-serif;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* ********************************** */
/*             UTILIDADES             */
/* ********************************** */
.container {
	max-width: 120rem;
	margin: 0 auto;
}

.heading-1 {
	text-align: center;
	font-weight: 500;
	font-size: 3rem;
}

/* ********************************** */
/*               HEADER               */
/* ********************************** */


/* ************* NAVBAR ************* */



.logo{
	font-size: 30px;
	font-weight: 700;
	color: var(--text-color);
}
span{
	color: var(--main-color);
}
.navbar{
	display: flex;
}
.navbar a{
	color: var(--text-color);
	font-size: var(--p-font);
	font-weight: 900;
	padding: 5px 10px;
	margin: 2px 25px;
	border-bottom: 2px solid transparent;
	transition: all .38s ease;
}
.navbar a:hover{
	border-bottom: 2px solid var(--main-color);
	color: var(--main-color);
}



/* ********************************** */
/*            MAIN CONTENT            */
/* ********************************** */
.main-content {
	background-color: var(--background-color);
}

/* ********************************** */
/*              FEATURES              */
/* ********************************** */
.container-features {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 3rem;
	padding: 3rem 0;
}

.card-feature {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 1.5rem;

	background-color: #fff;
	border-radius: 1rem;
	padding: 1.5rem 0;
}

.card-feature i {
	font-size: 2.7rem;
	color: var(--primary-color);
}

.feature-content {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
}

.feature-content span {
	font-weight: 700;
	font-size: 1.2rem;
	color: var(--dark-color);
}

.feature-content p {
	color: #777;
	font-weight: 500;
}
/*NOVEDADES*/

*, *::after, *::before {
    padding: 0;
    margin: 0;

}
img{
    width: 100%;
    display: block;
}
h1 {
    color: var(--secondary);
    text-align: center;
    text-transform: uppercase;
}
.contenedor{
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}
.card-header{
    height: 200px;
    width: 100%;
    object-position: 50% 50%;
    object-fit: cover;
}
.card-title{
    text-align: center;
    margin: 0;
}
.card-description{
    flex-grow: 1;
}
.card-header img{
    border-radius: 10px 10px 0 0;
}
.card-body{
    border-radius: 0 0 10px 10px;
    background-color: #fff;
    padding: 20px 15px;
    text-align: justify;
    border: 1px solid #ccc;
}
.btn{
    display: block;
    background-color: var(--secondary);
    padding: 5px;
    text-decoration: none;
    color: #6b5656;
    text-align: center;
    margin-top: 10px;
}
@media(min-width: 480px){
    .contenedor{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap:  10px;
    }
    .card{
        display: flex;
        flex-direction: column;
    }
    .card-body{
        flex-grow: 1;
        display: flex;
        flex-direction: column;
    }
}

/*GALERÃA*/
.gallery {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(2, 30rem);
	gap: 1.5rem;
	margin-bottom: 3rem;
}

.gallery img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.gallery-img-3 {
	grid-column: 2/4;
	grid-row: 1/3;
}

/* ********************************** */
/*              SPECIALS              */
/* ********************************** */
.specials {
	display: flex;
	flex-direction: column;
	gap: 2rem;
	margin-bottom: 3rem;
}

/* ********************************** */
/*                BLOGS               */
/* ********************************** */
.blogs {
	display: flex;
	flex-direction: column;
	gap: 2rem;
}

.container-blogs {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 3rem;
}

.card-blog {
	display: flex;
	flex-direction: column;
	gap: 2rem;
}

.card-blog .container-img {
	border-radius: 2rem;
	cursor: pointer;
	position: relative;
	overflow: hidden;
}

.button-group-blog {
	position: absolute;
	bottom: 1.5rem;
	right: -2.5rem;

	display: flex;
	gap: 0.7rem;
	z-index: -1;
	transition: all 0.3s ease;
}

.card-blog:hover .button-group-blog {
	z-index: 0;
	right: 1.5rem;
}

.button-group-blog span {
	background-color: #fff;
	padding: 1rem;
	border-radius: 50%;
	transition: all 0.4s ease;

	display: flex;
	align-items: center;
	justify-content: center;
}

.button-group-blog span i {
	font-size: 1.3rem;
}

.button-group-blog span:hover {
	background-color: black;
}

.button-group-blog span:hover i {
	color: #fff;
}

.content-blog h3 {
	font-size: 1.8rem;
	margin-bottom: 1.7rem;
	color: black;
	font-weight: 500;
}

.content-blog h3:hover {
	color: rgb(137, 136, 136);
	cursor: pointer;
}

.content-blog p {
	margin-top: 1rem;
	font-size: 1.4rem;
	color: #4e4e4d;
}

.content-blog span {
	color: var(--primary-color);
	font-size: 1.3rem;
}

.btn-read-more {
	padding: 1rem 3rem;
	background-color: var(--primary-color);
	color: #fff;
	text-transform: uppercase;
	font-size: 1.4rem;
	border-radius: 2rem;
	margin: 3rem 0 5rem;
	display: inline-block;
	cursor: pointer;
}

.btn-read-more:hover {
	background-color: black;
}

/* ********************************** */
/*               FOOTER               */
/* ********************************** */

.footer {
	background-color: rgb(0, 0, 0);
}

.container-footer {
	display: flex;
	flex-direction: column;
	gap: 4rem;
	padding: 3rem;
}

.menu-footer {
	display: grid;
	grid-template-columns: repeat(3, 1fr) 30rem;
	gap: 3rem;
	justify-items: center;
}

.title-footer {
	font-weight: 600;
	font-size: 1.6rem;
	text-transform: uppercase;
}

.contact-info,
.information,
.my-account,
.newsletter {
	display: flex;
	flex-direction: column;
	gap: 2rem;
}

.contact-info ul,
.information ul,
.my-account ul {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.contact-info ul li,
.information ul li,
.my-account ul li {
	list-style: none;
	color: #fff;
	font-size: 1.4rem;
	font-weight: 300;
}

.information ul li a,
.my-account ul li a {
	text-decoration: none;
	color: #fff;
	font-weight: 300;
}

.information ul li a:hover,
.my-account ul li a:hover {
	color: rgb(255, 255, 255);
}

.social-icons {
	display: flex;
	gap: 1.5rem;
}

.social-icons span {
	border-radius: 50%;
	width: 3rem;
	height: 3rem;

	display: flex;
	align-items: center;
	justify-content: center;
}

.social-icons span i {
	color: #fff;
	font-size: 1.2rem;
}

.facebook {
	background-color: #000000;
}

.twitter {
	background-color: #000000;
}

.youtube {
	background-color: #000000;
}

.pinterest {
	background-color: #000000;
}

.instagram {
	background: linear-gradient(
		#030303,
		#000000,
		#000000,
		#000000,
		#000000,
		#000000,
		#000000
	);
}

.content p {
	font-size: 1.4rem;
	color: #fff;
	font-weight: 300;
}

.content input {
	outline: none;
	background: none;
	border: none;
	border-bottom: 2px solid #d2b495;
	cursor: pointer;
	padding: 0.5rem 0 1.2rem;
	color: var(--dark-color);
	display: block;
	margin-bottom: 3rem;
	margin-top: 2rem;
	width: 100%;
	font-family: inherit;
}

.content input::-webkit-input-placeholder {
	color: #eee;
}

.content button {
	border: none;
	background-color: #3a3737;
	color: #fff;
	text-transform: uppercase;
	padding: 1rem 3rem;
	border-radius: 2rem;
	font-size: 1.4rem;
	font-family: inherit;
	cursor: pointer;
	font-weight: 600;
}

.content button:hover {
	background-color: var(--background-color);
	color: var(--primary-color);
}

.copyright {
	display: flex;
	justify-content: space-between;
	padding-top: 2rem;

	border-top: 1px solid #d2b495;
}

.copyright p {
	font-weight: 400;
	font-size: 1.6rem;
}

/* ********************************** */
/*       MEDIA QUERIES -- 768px       */
/* ********************************** */
@media (max-width: 768px) {
	html {
		font-size: 55%;
	}

	.hero {
		padding: 2rem;
	}

	.customer-support {
		display: none;
	}

	.content-shopping-cart {
		display: none;
	}



	.menu {
		display: none;
	}

	.content-banner {
		max-width: 50rem;
		margin: 0 auto;
		padding: 25rem 0;
	}

	.container-features {
		grid-template-columns: repeat(2, 1fr);
		padding: 3rem 2rem;
	}

	.card-feature {
		padding: 2rem;
	}

	.heading-1 {
		font-size: 2.4rem;
	}

	.card-category {
		height: 12rem;
	}

	.card-category p {
		font-size: 2rem;
		text-align: center;
		line-height: 1;
	}

	.card-category span {
		font-size: 1.4rem;
	}

	.container-options {
		align-items: center;
	}

	.container-options span {
		text-align: center;
		padding: 1rem 2rem;
	}

	.container-products {
		grid-template-columns: repeat(auto-fit, minmax(28rem, 1fr));
	}

	.gallery {
		grid-template-rows: repeat(2, 15rem);
	}

	.container-blogs {
		overflow: hidden;
		grid-template-columns: 1fr 1fr;

		height: 52rem;
	}

	.menu-footer {
		grid-template-columns: repeat(2, 1fr);
	}

	.copyright {
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: 1.5rem;
	}
}

/* ********************************** */
/*       MEDIA QUERIES -- 468px       */
/* ********************************** */
@media (max-width: 468px) {
	html {
		font-size: 42.5%;
	}

	.content-banner {
		max-width: 50rem;
		padding: 22rem 0;
	}

	.heading-1 {
		font-size: 2.8rem;
	}

	.card-feature {
		flex-direction: column;
		border-radius: 2rem;
	}

	.feature-content {
		align-items: center;
	}

	.feature-content p {
		font-size: 1.4rem;
		text-align: center;
	}

	.feature-content span {
		font-size: 1.6rem;
		text-align: center;
	}

	.container-options span {
		font-size: 1.8rem;
		padding: 1rem 1.5rem;
		font-weight: 500;
	}

	.container-products {
		grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
		gap: 1rem;
	}

	.container-img .discount {
		font-size: 2rem;
	}

	.content-card-product h3 {
		font-size: 2.2rem;
	}

	.gallery {
		grid-template-rows: repeat(2, 20rem);
	}

	.blogs {
		padding: 2rem;
	}

	.container-blogs {
		grid-template-columns: 1fr;
		height: 75rem;
	}

	.content-blog h3 {
		font-size: 2.4rem;
	}

	.content-blog span {
		font-size: 1.8rem;
	}

	.content-blog p {
		font-size: 2.2rem;
	}

	.btn-read-more{
		font-size: 1.8rem;
	}

	.contact-info ul,
	.information ul,
	.my-account ul{
		display: none;
	}

	.contact-info {
		align-items: center;
	}

	.menu-footer{
		grid-template-columns: 1fr;
	}

	.content p{
		font-size: 1.6rem;
	}
}
.slide {
	position: relative;
	box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.64);
	margin-top: 26px;
}
.slide-inner {
	position: relative;
	overflow: hidden;
	width: 1500px;
	height: 750px;
}
.slide-open:checked + .slide-item {
	position: static;
	opacity: 100;
}
.slide-item {
	position: absolute;
	opacity: 0;
	-webkit-transition: opacity 0.6s ease-out;
	transition: opacity 0.6s ease-out;
}
.slide-item img {
	display: block;
	height: auto;
	max-width: 100%;
}
.slide-control {
	background: rgba(0, 0, 0, 0.28);
	border-radius: 50%;
	color: #fff;
	cursor: pointer;
	display: none;
	font-size: 40px;
	height: 40px;
	line-height: 35px;
	position: absolute;
	top: 50%;
	-webkit-transform: translate(0, -50%);
	cursor: pointer;
	-ms-transform: translate(0, -50%);
	transform: translate(0, -50%);
	text-align: center;
	width: 40px;
	z-index: 10;
}
.slide-control.prev {
	left: 2%;
}
.slide-control.next {
	right: 2%;
}
.slide-control:hover {
	background: rgba(0, 0, 0, 0.8);
	color: #aaaaaa;
}
#slide-1:checked ~ .control-1,
#slide-2:checked ~ .control-2,
#slide-3:checked ~ .control-3 {
	display: block;
}
.slide-indicador {
	list-style: none;
	margin: 0;
	padding: 0;
	position: absolute;
	bottom: 2%;
	left: 0;
	right: 0;
	text-align: center;
	z-index: 1000;
}
.slide-indicador li {
	display: inline-block;
	margin: 0 5px;
}
.slide-circulo {
	color: #828282;
	cursor: pointer;
	display: block;
	font-size: 35px;
}
.slide-circulo:hover {
	color: #aaaaaa;
}
#slide-1:checked ~ .control-1 ~ .slide-indicador 
	 li:nth-child(1) .slide-circulo,
#slide-2:checked ~ .control-2 ~ .slide-indicador 
	  li:nth-child(2) .slide-circulo,
#slide-3:checked ~ .control-3 ~ .slide-indicador 
	  li:nth-child(3) .slide-circulo {
	color: #428bca;
}
#titulo {
	width: 100%;
	position: absolute;
	padding: 0px;
	margin: 0px auto;
	text-align: center;
	font-size: 27px;
	color: rgba(255, 255, 255, 1);
	font-family: 'Open Sans', sans-serif;
	z-index: 9999;
	text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.33), 
		 -1px 0px 2px rgba(255, 255, 255, 0);
}
  
nav {
    width: 1000PX;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 2vw;
}

.cont-ul {
    display: flex;
    align-items: center;
}

li {
    list-style: none;
    cursor: pointer;
    padding: 1.5vw;
    transition:  all .3s ease 0s;
}

li:hover {
    background-color: #b8b8b8;
}

.develop {
    position: relative;
}

.ul-second {
    display: none;
    position: absolute;
    margin-top: 1.5vw;
}

.ul-second > li {
    width: 180px;
    transform: translateX(-20px);
    border-bottom:solid 1px #fff ;
    text-align: center;
    background-color: #9c9a9a;
}

.ul-second > li:hover {
    background-color: #c9c6c6;
}

.develop:hover > .ul-second {
    display: block;
}

.ul-third {
    position: absolute;
    transform: translateX(100%);
    right: 0;
    top: 40%;
    display: none;
    background-color: #24252a;
}

.ul-third > li {
    padding: 1.5vw;
    border-bottom: solid 1px #fff;
}

.front:hover > .ul-third {
    display: block;
}
.c-mainbox{
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 1.4rem;
	border-radius: 10px;
	height: 90px;
	background: var(--bg-color);
	box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
	transition: all .40s ease;
}
.container-text p{
	font-size: var(--p-font);
	font-weight: 500;
}
header{
	position: fixed;
	width: 100%;
	top: 0;
	right: 0;
	z-index: 1000;
	display: flex;
	align-items: center;
	justify-content: space-between;
	background: transparent;
	padding: 23px 15%;
	transition: all .38s ease;
}
